<div class="container mt-5">
    <div class="row">
      <div class="col text-center">
        <h1>Perfil de Desarrollador</h1>
        <p>Habilidades y experiencias</p>
      </div>
    </div>
    
    <div class="row mt-4">
      <div class="col-md-4">
        <h3>Tecnologías</h3>
        <ul class="list-group">
          <li class="list-group-item">
            <strong>Conozco:</strong>
            <p>Php, GitHub, JAVA, VBA, AWS, VitualBox, Xampp, CiscoPaketTracer</p>
          </li>
          <li class="list-group-item">
            <strong>Estoy aprendiendo:</strong>
            <p>TypeScript, SpringBoot, Angular, PostgreSQL</p>
          </li>
          <li class="list-group-item">
            <strong>Manejo:</strong>
            <p>HTML, CSS, MySQL, Bootstrap, OOOWebHost, Workbench</p>
          </li>
        </ul>
      </div>
      
  
      <div class="col-md-8">
        <h3>Experiencia</h3>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Apoyo técnico de software (Básico) en Empresa LANS</h5>
            <p class="card-text"> - Resolver consultas de software por parte de empleados.<br> - Instalacion y configuracion de programas y pc para obtener un mejor rendimiento.
            <br> - Resolver problemas que se presentaron en la Base de Datos. <br> - Resolucion de problemas enfocados ala red WIFI de la empresa.
            </p>
          </div>
        </div>

        <div class="col-md-8">
            <h3>Habilidades</h3>
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title">Creacion de Paginas web</h5>
                <p class="card-text">Uno de mi fuertes principales en la creacion de las paginas web con formularios y bases de datos, utilizando tecnologias como Workbench,
                    000WebHost, Xampp.
                </p>
              </div>
            </div>
  
        <h3>Proyectos</h3>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Proyectos de programacion.</h5>
            <p class="card-text">
                - Creacion de una pagina web de una tienda de Joyeria (Proyecto de Bachillerato)<br>
                - Creacion de un programa en C++ sobre el calculo y balanceo entre el peso y la altura recomendada en una persona (Pimer Año de ingenieria)<br>
                - Creacion de formularios en Java para una tienda de abarroteria con Base de Datos (Segundo año de ingenieria)<br>
                - Creacion de un proyecto con SpringBoot y Angular sobre consultas medicas (Tercer año de ingeniria)<br>
                - <br>

            </p>
          </div>
        </div>
  
        <h3>Experiencia en UX/UI</h3>
        <p>
            - UX (Experiencia de Usuario): <br>
            He tenido la oportunidad de manejar un programa llamado ERP donde su princupal objetivo es recabar informacion por medio de campos, por lo tanto un usuario debe 
            tener un minimo de conocimiento de como se llenan estos campos.
            <br><br>
            - UI (Interfaz de Usuario): <br>
            Esta es una de las partes mas complicadas ya que aqui es donde debemos de prevenir cualquier error que pueda surgir al momento que un usuario de nuestro programa quiera digitar algo
            al memoento de llenar algun formulario. 
        </p>
      </div>
    </div>
  </div>
  
<br><br>
  
<div class="card mb-3">
    <img src="../../assets/img/git.png" class="card-img-top" alt="Card image">
    <div class="card-body">
      <h5 class="card-title">Haz clic Aqui</h5>
      <p class="card-text">Aqui podras encontrar mi perfil de GitHub</p>
      <a href="https://github.com/RicardoCruzLemus21" class="stretched-link"></a>
    </div>
  </div>
  
