<style>
    .navbar-nav {
      flex: 1;
      justify-content: center;
      text-align: center;
    }
  
    .nav-item {
      margin: 0 10px; /* Opcional: espacio entre los elementos */
    }
  </style>
  
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
       
        <a class="nav-item nav-link" href="#" routerLink="/home">Inicio</a>
        <a class="nav-item nav-link" href="#" routerLink="/perfil">Perfil De Desarrollador</a>
        <a class="nav-item nav-link" href="#" routerLink="/hoja">Hoja De Vida</a>
        
      </div>
    </div>
  </nav>