.circle-photo{
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 80px;
    
}

#sidebar{
    background: #202020;
    height: 30%;
    width: 100%;
    margin-top: 0px;
}

#sidebar h1, #sidebar h2{
    color: #b88e1c;
    text-align: center;
}

.mi-gif {
    width: 850px;
    height: 400px;
    margin-left: 450px;
    margin-top: -450px;
  }
  