.container {
    max-width: 1000px;
  }
  
  h1, h2 {
    color: #007bff;
  }
  
  .card-group .card {
    margin: 0 10px;
  }
  
  .card-body {
    background-color: #f8f9fa;
  }
  
  .card-title {
    color: #343a40;
  }
  
  .card-text small {
    color: #6c757d;
  }
  