<div class="container mt-5">
    <!-- Presentación -->
    <div class="row mb-4">
      <div class="col-12">
        <h1 class="text-center">Hoja de Vida</h1>
        <p class="lead text-center">Soy estudiante de ingeniería en sistemas motivado para trabajar, con experiencia en desarrollo
            web, programación y bases de datos, programas en manejo de oficinas y con la motivación de
            aprender y crecer en el campo laboral mostrando habilidades que ayuden a la compañía .</p>
      </div>
    </div>
  

    <div class="row mb-4">
        <div class="col-12">
          <h2>Experiencia Laboral</h2>
          <div class="card-group">
            <!-- Area 1 -->
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Asistente Administrativo Operativo</h5>
                <p class="card-text">
  
                  - Conocimiento (Básico) en ERP. <br>
                  - Gestión de bases de datos para la inserción de productos en el inventario. <br>
                  - Coordinación de personal. <br>
                  - Actualización y revisión de etiquetas. <br>
                  - Asistencia al gerente operativo. <br>
  
                </p>
                
              </div>
            </div>
            <!-- Area 2 -->
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Asistente Administrativo de RRHH</h5>
                <p class="card-text">
  
                 - Validación de antecedentes penales.<br>
                 - Validación de antecedentes policiales.<br>
                 - Inscripción de personas en el IGSS.<br>
                 - Consulta de inscripción de personas en el IGSS.<br>
                 - Calificación de pruebas ACI, DP y Palancas para la evaluación currículums.<br>
                 - Consulta de NIT.
  
                </p>
                
              </div>
            </div>
            <!-- Area 3 -->
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Asistente Administrativo de Bodega/Logística</h5>
                <p class="card-text">
  
                  - Creación de ítems. <br>
                  - Compras de productos.<br>
                  - Manejo de facturas.<br>
                  - Consulta de cotizaciones.<br>
                  - Gestión de materiales para producción.<br>
                  - Administración de personal en bodega.<br>
                  - Planificación de rutas para adquisiciones.<br>
  
                </p>
               
              </div>
            </div>
          </div>
        </div>
      </div>

    <!-- Datos personales -->
    <div class="row mb-4">
      <div class="col-12">
        <h2>Datos Personales</h2>
        <ul>
          <li>Nombre: Ricardo Antonio Cruz Lemus</li>
          <li>Edad: 20 años</li>
          <li>Correo: rc7799843&commat;gmail.com</li>
          <li>Teléfono: +502 45027673</li>
          <li>Direccion: Amatitlan. Guatemala</li>
        </ul>
      </div>
    </div>
  
    <!-- Educación -->
    <div class="row mb-4">
      <div class="col-12">
        <h2>Educación Formal</h2>
        <ul>
            
          <li>INGENIERIA EN SISTEMAS DE LA INFORMACION Y CIENCIAS DE LA COMPUTACION - Universidad Marino Galvez de Guatemala</li>
          <li>Fecha: 2022 - PRESENTE</li>

          <br>
          <li>BACHILLERATO EN COMPUTACION CON ORIENTACION CIENTIFICA - Centro Educativo Siloe Amatitlan</li>
          <li>Fecha: 2020 – 2021</li>
        </ul>
      </div>
    </div>
  
    <!-- Conocimientos -->
    <div class="row mb-4">
      <div class="col-12">
        <h2>Conocimientos</h2>
        <ul>
          <li>Manejo de office, Manejo de Windows, Manejo de bases de datos MySQL</li>
          <li>Manejo de productos de Google, Manejo de la nube de One drive</li>
          <li>Manejo de Excel, Ingles (básico), Contabilidad (Básica)</li>
        </ul>
      </div>
    </div>
  
    <!-- Habilidades -->
    <div class="row mb-4">
      <div class="col-12">
        <h2>Habilidades</h2>
        <ul>
          <li>Resolución de problemas</li>
          <li>Trabajo en equipo</li>
          <li>Comunicación efectiva</li>
        </ul>
      </div>
    </div>   
  </div>
  
  <div class="d-flex justify-content-center">
    <div class="card text-center" style="width: 70%;">
      <div class="card-body">
        <h5 class="card-title">Curriculum</h5>
        <p class="card-text">Aqui puedes observar con mayor detalle mi Curriculum Vitae</p>
        <p class="card-text"><small class="text-muted">Actualizado el 07/06/2024 a las 17:41</small></p>
        <a href="https://drive.google.com/file/d/1Gdmv991QHg_tv81V9C_WdY_nZ8r-ep3d/view?usp=sharing" class="btn btn-primary d-inline-block">Haz Clic Aquí</a>
      </div>
    </div>
  </div>
  
  
  

  <br>